@{
  Layout = "_Layout";
}

@using Pierre.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email , new { @class = "textBox"})
    @Html.TextBoxFor(m => m.Email , new { @class = "textBox"}) 

    @Html.LabelFor(m => m.Password , new { @class = "textBox"})
    @Html.PasswordFor(m => m.Password , new { @class = "textBox"})

    <input type="submit" value="Log in" class="btn btn-default" />
}