/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  color: #948282
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  color: black;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
    background:rgba(0, 0, 0, 0.80);
    text-align: center;
    background: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiR0qWuuJ3nAhV6HDQIHfGmCe4QjRx6BAgBEAQ&url=https%3A%2F%2Fwww.offset.com%2Fphotos%2Ffrom-above-of-assorted-golden-baked-croissants-with-different-701336&psig=AOvVaw1_mYT0NAtaiozbRBH7xd0L&ust=1579996648413133);
    font-style: italic;
    letter-spacing: 3px;
  }
}

.border-top {
  border-top: 1px solid green;

}
.border-bottom {
  border-bottom: 1px solid green;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
  background:url(https://static2.bigstockphoto.com/3/0/3/large1500/303054067.jpg://cdn.pixabay.com/photo/2017/08/06/06/54/salon-2589649_1280.jpg)no-repeat center center fixed;
  background-color: black;
  background:rgba(0, 0, 0, 0.80);
  background-size: cover;
  min-height: 100%;
}

body {
  color:black;
  margin-bottom: 60px;
  background-color:black;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background:rgba(0, 0, 0, 0.80);
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
hr {
  border-color: rgba(0, 0, 0, 0.80);
  text-align: center;
}
.textBox {
  margin-bottom: 20px;
  border: none;
  outline: none;
  text-align: center;
  color:#948282;
}
div.container
{
  text-align: center;
  color:#948282;
  background-color: rgba(0, 0, 0, 0.80);
  letter-spacing: 4px;
} 
a {
  color:#948282;
  text-decoration:none;
}
a:hover {
  color:#948282;
  text-decoration: none;
}